ruff
numpy
torch
gradio
marimo
mlflow
pandas
joblib
sphinx
optuna
pyyaml
pytest
seaborn
xgboost
pandera
lightgbm
ipykernel
tensorflow
matplotlib
setuptools
myst-parser
scikit-learn
opencv-python
sphinx-design
sphinx_rtd_theme
sphinx-autobuild
fg-data-profiling
