.wy-table-responsive {
    overflow-x: auto;
    /*text-align: justify;*/
    font-weight: bold;
    /*font-style: italic;*/
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

table.docutils {
    display: block;
    overflow-x: auto;
    width: 100%;
}
